{%extends "layout.html"%}
{%block content%}

<!--  Row 1-->
<div class="row">
    <div id="comparisonBody" class="col-md-10 col-lg-10">
      <h1>Comparison: Latitude vs. X</h1>
      <hr></hr>
      <p>Click any plot to get an in-depth analysis.</p>
      <div id="imageNode">
      <div class="comparisonImages col-md-5 col-lg-5">
        <h2 class="comparisonHeading">vs. Max Temperature</h2>
        <a href="/temp"><img src="/static/citylattemp-med.png"></a>
      </div>
      <div class="comparisonImages col-md-5 col-lg-5">
        <h2 class="comparisonHeading">vs. Humidity</h2>
        <a href="/humid"><img src="/static/citylathumid-med.png"></a>
      </div>
      <div class="comparisonImages col-md-5 col-lg-5">
        <h2 class="comparisonHeading">vs. Cloudiness</h2>
        <a href="/clouds"><img src="/static/citylatclouds-med.png"></a>
      </div>
      <div class="comparisonImages col-md-5 col-lg-5">
        <h2 class="comparisonHeading">vs. Wind Speed</h2>
        <a href="/winds"><img src="/static/citylatwinds-med.png"></a>
      </div>
    </div>
  </div>
</div>
{%endblock%}
