{%extends "layout.html"%}
{%block content%}
  <!--  Row 1-->
  <div class="row">
      <div id="humidMain" class="col-lg-6">
        <h1>Humidity</h1>
        <hr>
        <img id="humidCover" src="/static/citylathumid-med.png">
        <p>Kale chips banh mi affogato street art, wayfarers ennui direct trade sriracha distillery before they sold out man bun fanny pack. Tilde YOLO organic pour-over keytar semiotics tofu pug bicycle rights four dollar toast readymade. VHS taiyaki quinoa tilde, beard messenger bag hexagon kitsch kickstarter disrupt. Umami keffiyeh art party whatever, poutine godard selvage jianbing tumeric try-hard dreamcatcher etsy lyft authentic. Kickstarter chartreuse venmo, glossier tilde vaporware ramps health goth +1. Gentrify palo santo crucifix, fixie master cleanse thundercats migas intelligentsia artisan yr man braid coloring book.
        </p>
      </div>
      <div id="humidSide" class="col-lg-4">
        <h1>Visualizations</h1>
        <hr>
        <a href="temp_x.html"><img src='/static/citylattempthumb2.png'></a>
        <a href="humid_x.html"><img src='/static/citylathumidthumb2.png'></a>
        <a href="clouds_x.html"><img src='/static/citylatcloudsthumb2.png'></a>
        <a href="winds_x.html"><img src='/static/citylatwindsthumb2.png'></a>
      </div>
  </div>
 


{%endblock%}
