{%extends "layout.html"%}
{%block content%}
  <!--  Row 1-->
  <div class="row">
      <div id="humidMain" class="col-lg-6">
        <h1>Humidity</h1>
        <hr>
        <img id="humidCover" src="/static/citylathumid-med.png">
        <p>Humidity is the percentage of vapor saturation in the atmosphere. When air is warm, it is more capable of holding water molecules. We can see that of the 500 cities pulled with the data from OpenWeather that a cluster of cities near Latitude 0, near the equator, and south by -20 degrees are thickly packed at 100% humidity. It might be easy to draw the conclusion that cities near the equator are more humid. However, there are a number of factors that contribute to humidity, including proximity to open water, such as large lakes and oceans. This explains clusters of cities as far north of the equator as 40 degrees North Latitude. It is possible for cities north of the equator to be extremely humid despite cooler weather in the Spring. 
        </p>
      </div>
      <div id="humidSide" class="col-lg-4">
        <h1>Visualizations</h1>
        <hr>
        <a href="/temp"><img src='/static/citylattempthumb2.png'></a>
        <a href="/humid"><img src='/static/citylathumidthumb2.png'></a>
        <a href="/clouds"><img src='/static/citylatcloudsthumb2.png'></a>
        <a href="/winds"><img src='/static/citylatwindsthumb2.png'></a>
      </div>
  </div>



{%endblock%}
