{%extends "layout.html"%}
{%block content%}

<body>

  <!--  Row 2-->
  <div class="row">
    <div id="mainBar" class="col-lg-6 col-xl-6">
      <h1>Summary: Latitude vs. X</h1>
      <hr></hr>
      <img id="cover" src="/static/citylattemp-med.png">
      <p>The purpose of this project was to test the validty of a commonly held belief: that the closer we get to the Equator, the warmer temperatures become. To conduct this test, we used the OpenWeather API to pull weather data from over 500 cities around the world.
      </p>
      <p>We used Matplotlib to visualize various aspects of weather patterns in a given city relative to its proximity to the Equator. We conducted analysis of cloudiness, humidity, temperature, and wind speed.
      </p>
      <p>This site provides a detailed break-down of our findings, including visualizations for each weather analysis, descriptions of correlations and trends, and the source data we used conduct our research.
      </p>
    </div>
    <div id="sideBar" class="col-lg-4 col-xl-4">
      <h1>Visualizations</h1>
      <hr></hr>
          <a href="temp_x.html"><img src='/static/citylattempthumb2.png'></a>
          <a href="humid_x.html"><img src='/static/citylathumidthumb2.png'></a>
          <a href="clouds_x.html"><img src='/static/citylatcloudsthumb2.png'></a>
          <a href="winds_x.html"><img src='/static/citylatwindsthumb2.png'></a>
    </div>
  </div>
    </body>

{%endblock%}
