<!DOCTYPE html>

<html>

      <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <link rel="stylesheet" href="/static/style.css" type="text/css">
      </head>

      <nav id ="navigation" class="navbar navbar-expand-lg navbar-light">
          <a id="datLatitude" class="navbar-brand" href="/">Latitude</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                  <ul id="linkNode" class="navbar-nav">
                    <li class="nav-item dropdown">
                      <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Plots
                      </a>
                      <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/temp">Max Temperature</a>
                        <a class="dropdown-item" href="/humid">Humidity</a>
                        <a class="dropdown-item" href="/clouds">Cloudiness</a>
                        <a class="dropdown-item" href="/winds">Wind Speeds</a>
                      </div>
                    </li>
                      <li class="nav-item">
                      <a class="nav-link" href="/comparisons">Comparison <span class="sr-only"></span></a>
                     </li>
                     <li class="nav-item">
                       <a class="nav-link" href="/data">Data</a>
                     </li>
                   </ul>
              </div>
      </nav>

      <div id="bodyContainer" class="container-fluid bg-dark">
        {%block content%}
        {%endblock%}
        </div>

    <nav id="footer" class="navbar fixed-bottom">
        <div id="text" class="navbar-brand">Copyright Coding Bootcamp 2019</div>
    </nav>

    <script>
      $(document).ready(function() {
        $('li.active').removeClass('active');
        $('a[href="' + location.pathname + '"]').closest('li').addClass('active');
      });
    </script>
    <script>
      $(document).ready(function() {
        $(".dropdown-toggle").dropdown();
      });
    </script>


</html>
