<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="../static/style.css">
</head>

<body id="bodyContainer">

<div class="container-fluid bg-dark">
    <div class="row">
      <div id="main" class="col-sm-6 col-md-6 col-lg-6 bg-light">
        <h1>Summary: Latitude vs. X</h1>
        <hr>
        <img id="coverImage" src="../static/citylattemp-med.png">
        <p>90's fixie palo santo hammock selfies. Heirloom gochujang selfies single-origin coffee salvia meh PBR&B twee bushwick cred organic banh mi franzen. Butcher kickstarter vape schlitz locavore gochujang semiotics mustache ugh taxidermy shabby chic beard vice knausgaard. Literally drinking vinegar vegan four dollar toast.
        </p>
        <p>90's fixie palo santo hammock selfies. Heirloom gochujang selfies single-origin coffee salvia meh PBR&B twee bushwick cred organic banh mi franzen. Butcher kickstarter vape schlitz locavore gochujang semiotics mustache ugh taxidermy shabby chic beard vice knausgaard. Literally drinking vinegar vegan four dollar toast.
        </p>
      </div>
      <div id="sidebar" class="col-sm-4 col-md-4 col-lg-4 bg-light">
        <h1>Visualizations</h1>
        <hr>
        <div class="myImages">
          <img src="../static/citylatcloudsthumb2.png">
          <img src="../static/citylatcloudsthumb2.png">
          <img src="../static/citylatcloudsthumb2.png">
          <img src="../static/citylatcloudsthumb2.png">
        </div>
      </div>

  </div>
</div>
</body>

</html>
